body{
    background-color: #FFFFFF;
    margin: 0px; 
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #333333;
}

.navbar{
    height: 56px;
    width: 100%;
    background-color: #FFFFFF;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}

.navbar-links{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-right: 24px;
    color:#333333;
}

.navbar-link{
    margin-left: 8px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333333;
    padding:8px;
}

.navbar-link:hover{
    background-color: rgb(223, 255, 228);
    cursor: pointer;
    color:rgb(1, 88, 33);
    border-radius: 5px;
}

.navbar-link-active{
    color: rgb(1, 88, 33);
    font-weight: bold;
}

.logo{
    margin-left: 24px;
    font-weight: bold;
    color:rgb(1, 88, 33);
}

.container{
    display: grid;
    grid-template-columns: 270px 1fr;
}

.sidebar{
    background-color: white;
    border-right: solid 1px rgba(0, 0, 0, 0.08);
    height: calc(100vh - 56px);
}

.sidebar-lead{
    width: 100%;
    color: #999999;
    font-weight: bold;
    margin-left: 24px;
    padding-top:24px;
}

.sidebar-menu{
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    color: #333333;
}

.sidebar-item{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.sidebar-item:hover{
    background-color: rgb(223, 255, 228);
    cursor: pointer;
    color:rgb(1, 88, 33);
}

.sidebar-item-active{
    font-weight: bold;
    color:rgb(1, 88, 33);
    background-color: rgb(223, 255, 228);
    border-right: 3px solid rgb(1, 88, 33);
}

.main{
    /* do we need some styling for whole content section? */
}

.hero{
    padding: 24px;
    background-color: #f6f9f6;
}

.lead{
    font-size: 1.2em;
    line-height: 200%;
    font-weight: 200;
}