@use "sass:map";
@use "sass:list";
@use "../variables" as v;

$text:map.get(v.$text-size,"md");
$sub-text:map.get(v.$text-size,"sm");

input:not([type=submit]):not([type=file]){
    width: 240px;
    font-size:list.nth($text,1);
    line-height:list.nth($text,2);
    font-weight: map.get(v.$text-weight,"normal");
    border-radius: map.get(v.$border-radius,"md");
    padding: 0px;
    border: 1px solid map.get(v.$color-theme,"300");
    color: map.get(v.$color-theme,"500");
    padding-left: map.get(v.$spacing-size,"200");
    $paddingVer: v.heightAdjust(map.get(v.$spacing-size,"300"),map.get(v.$spacing-size,"100"));
    padding-top: list.nth($paddingVer,2);
    padding-bottom: list.nth($paddingVer,2);
    transition-property: all;
    transition-timing-function: map.get(v.$transition-type,"cubic-bezier");
    transition-duration: map.get(v.$transition-duration,"300");
}

input:not([type=submit]):not([type=file]):focus{
    outline: none;
    border: 1px solid map.get(v.$color-theme,"400");
    background-color: map.get(v.$color-theme,"100");
}

.input-error{
    border: 1px solid map.get(v.$color-base,"red","500") !important;
}
.error{
    color: map.get(v.$color-base,"red","500");
    font-size:list.nth($sub-text,1);
    line-height:list.nth($sub-text,2);
}

.textarea{
    padding-left: map.get(v.$spacing-size,"200");
    $paddingVer: v.heightAdjust(map.get(v.$spacing-size,"300"),map.get(v.$spacing-size,"100"));
    padding-top: list.nth($paddingVer,2);
    padding-bottom: list.nth($paddingVer,2);
    border: 1px solid map.get(v.$color-theme,"300");
    color: map.get(v.$color-theme,"500");  
    font-size:list.nth($text,1);
    line-height:list.nth($text,2);
    font-weight: map.get(v.$text-weight,"normal");
    border-radius: map.get(v.$border-radius,"md");
    width: 240px;
    height: 80px;
}

.textarea:focus{
    outline: none;
    border: 1px solid map.get(v.$color-theme,"400");
    background-color: map.get(v.$color-theme,"100");
    
}
.disabled{
    pointer-events: none;
    background-color: map.get(v.$color-base,"grey","300");
    color: map.get(v.$color-base,"grey","600");
    border: none;
}

input:not([type=submit]):not([type=file]):disabled {
    pointer-events: none;
    background-color: map.get(v.$color-base,"grey","300");
    color: map.get(v.$color-base,"grey","600");
    border: none;
}

::placeholder {
    color: map.get(v.$color-theme,"300");
}

.input-group label{
    //Temporary, will need to change this to allow content on the right hand side. 
    display: block;
    color: map.get(v.$color-base,"grey","600");
    font-size:list.nth($sub-text,1);
    line-height:list.nth($sub-text,2);
    font-weight: map.get(v.$text-weight, "normal");
    margin-bottom: map.get(v.$spacing-size, "100");
}

.input-group:focus-within label {
    color: map.get(v.$color-base,"grey","900");
}

