@use "sass:map";

//-------------------------------------------------------------------
//Colour
//-------------------------------------------------------------------
$color-theme: (
    "100":#f9fbfe,
    "200":#d4dbe5,
    "300":#D4DAE5,
    "400":#1f4c82,
    "500":#193d68,
    "600":#060f1a,
    "700":#050b14
);

$color-base :(
    "green":(
        "100": #EEF7F3, 
        "200": #E4F7EF,
        "300": #DAF7EA,
        "400": #C6F7E1,
        "500": #007A5F,
        "600": #01634D,
        "700": #014C3C,
        "800": #02362A,
        "900": #011F18,
        "1000": #011410
    ),
    "yellow":(
        "100": #F7F7ED, 
        "200": #F7F6E4,
        "300": #F7F6DA,
        "400": #F7F5C6,
        "500": #B1A800,
        "600": #9C9401,
        "700": #4C4901,
        "800": #363302,
        "900": #1F1D01,
        "1000": #141301
    ),
    "orange":(
        "100": #F7F4ED, 
        "200": #F7F0E4,
        "300": #F7EDDA,
        "400": #F7E6C6,
        "500": #D28700,
        "600": #9C6502,
        "700": #4C3201,
        "800": #362302,
        "900": #1F1401,
        "1000": #140D01
    ),
    "red":(
        "100": #F7EDF1, 
        "200": #F7E4EA,
        "300": #F7DAE4,
        "400": #F7C6D7,
        "500": #C40043,
        "600": #9C0136,
        "700": #4C011B,
        "800": #360202,
        "900": #1F0101,
        "1000": #140101
    ),
    "blue":(
        "100": #EDF4F7, 
        "200": #E3F1F7,
        "300": #D9EEF7,
        "400": #C6E8F7,
        "500": #008DD6,
        "600": #01679C,
        "700": #01334C,
        "800": #022436,
        "900": #01151F,
        "1000": #010E14
    ),
    "slate":(
        "100": #EDF1F7, 
        "200": #E3EBF7,
        "300": #D9E5F7,
        "400": #C6D9F7,
        "500": #6A83B2,
        "600": #5D729C,
        "700": #2E384C,
        "800": #202736,
        "900": #12161F,
        "1000": #0C0F14
    ),
    "grey":(
        "000": #FFFFFF,
        "100": #FAFAFA, 
        "200": #E7E5E4,
        "300": #D2D1D0,
        "400": #BEBDBC,
        "500": #7F7F7D,
        "600": #6B6B69,
        "700": #525250,
        "800": #383837,
        "900": #1F1F1E,
        "1000": #141414,
        "1100": #000000
    )
);

$color-status :(
    'success':map.get($color-base, "green", "700"),
    'warning': map.get($color-base, "yellow", "700"),
    'error': map.get($color-base, "red", "700"),
    'info': map.get($color-base, "blue", "700"),
    'action':map.get($color-base,"blue","500")
);

$color-semantics :(
    'red': map.get($color-base,"red", "700"),
    'amber': map.get($color-base,"orange", "700"),
    'green': map.get($color-base,"green", "700"),
    'env': map.get($color-base,"green", "700"),
    'soc': map.get($color-base,"orange", "700"),
    "gov": map.get($color-base,"slate", "700")
);

//-------------------------------------------------------------------
//Text
//-------------------------------------------------------------------
$text-size: (
    //size : (font-size, line-height)
    "xs": (12px, 16px),
    "sm": (14px, 16px),
    "md": (16px, 24px),
    "lg": (18px, 24px),
    "h5": (20px, 24px),
    "h4": (24px, 32px),
    "h3": (32px, 48px),
    "h2": (48px, 56px),
    "h1": (56px, 64px)
);

$text-weight: (
    "light":200, 
    "normal":400,
    "semibold":600, 
    "bold":800  
);

$text-align: (left, right, center, justify);

$text-decoration:(none,underline,line-through);

//-------------------------------------------------------------------
//border
//-------------------------------------------------------------------
$border-radius: (
    "sm":2px, 
    "md":4px, 
    "lg":8px,
    "round": 9999px
);

$border-width: (
    "md": 1px,
    "lg": 2px, 
);

$border-style: (solid, dashed, dotted, hidden, none);

$border-direction: (top, right, bottom, left);

//-------------------------------------------------------------------
//elevation
//-------------------------------------------------------------------
$elevation-size: (
    "sm": 1px, 
    "md": 2px, 
    "lg": 4px, 
    "xl": 8px,
);

$elevation-direction: ("left", "right", "top", "bottom", "default");

//-------------------------------------------------------------------
//spacing
//-------------------------------------------------------------------
$spacing-type:(
    "m": margin, 
    "p": padding
);

$spacing-size: (
    "000": 0px,
    "100": 4px, 
    "200": 8px,
    "300": 16px,
    "400": 24px,
    "500": 32px, 
    "600": 48px, 
    "700": 64px, 
    "800": 88px, 
    "900": 128px 
);

$spacing-direction: (
    "t": top, 
    "b": bottom, 
    "l": left, 
    "r": right
);

//-------------------------------------------------------------------
//layout
//-------------------------------------------------------------------

$layout-display:(
    block, inline, inline-block, flex, inline-flex, grid, inline-grid, hidden
);
$layout-overflow: (
    auto, hidden, scroll
    );
$layout-position: (
    static, fixed, absolute, relative, sticky
    );
$layout-gird: (
    columns, rows, span, gap
    );
$layout-flex: (
    justify, align, place
    );
$layout-size: (
    width, height, min-width, min-height, max-width, max-height
    );

$flex-flow: (
        "start": flex-start, 
        "end": flex-end, 
        "center": center, 
        "between": space-between, 
        "around": space-around, 
        "evenly": space-evenly
    );
    
$layout-content: (start, end, center, stretch);
    
//-------------------------------------------------------------------
//utilies
//-------------------------------------------------------------------
$z-index:(
    "100":1,
    "200":2,
    "300":3
);

//-------------------------------------------------------------------
//-------------------------------------------------------------------
//COMPONENTS
//-------------------------------------------------------------------
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//-------------------------------------------------------------------
//FUNCTIONS
//-------------------------------------------------------------------
//-------------------------------------------------------------------


@function heightAdjust($px, $py){ //x,y
    $npx:calc($px - 1px);
    $npy:calc($py - 1px);
    $paddingCalc:(
      $npx,$npy      
    );
    @return $paddingCalc
}