<div class="hero">
    <h1>Buttons</h1>
    <p class="lead">A utility-first CSS library for facilitating front-end development with Leaf Design System.</p>
</div>

<div class="content">
    <button type="button" class="btn btn-sm btn-primary">Primary Button</button>
    <button type="button" class="btn btn-primary">Primary Button</button>
    <button type="button" class="btn btn-lg btn-primary">Primary Button</button>
    <button type="button" class="btn btn-sm btn-secondary ">Secondary Button</button>
    <button type="button" class="btn btn-secondary ">Secondary Button</button>
    <button type="button" class="btn btn-lg btn-secondary ">Secondary Button</button>
</div>
