<div class="hero">
    <h1>Buttons</h1>
    <p class="lead">A utility-first CSS library for facilitating front-end development with Leaf Design System.</p>
</div>

<div class="content pt-300">
    <button type="button" class="btn btn-primary"><i class="fa-duotone fa-user mr-200"></i>Primary Button</button>
    <button type="button" class="btn btn-secondary ">Secondary Button</button>
    <button type="button" class="btn btn-danger">Danger Button</button>
    <button type="button" class="btn btn-disabled">Disabled Button</button>
</div>
