<div class="hero">
    <h1> Dropdown</h1>
    <p class="lead">Dropdown for collecting data.</p>
</div>

<div class="content pt-300">
    <div class="input-group select">
        <label for="dropdown">Sample</label>
        <select id="dropdown-menu" name="dropdown">
        <option class="dropdown-options" value="option1">Option1</option>
        <option class="dropdown-options" value="option2">Option2</option>
        <option class="dropdown-options" value="option3">Option3</option>
        <option class="dropdown-options" value="option4">Option4</option>
      </select>
    </div>
    
</div>


