<div class="hero">
    <h1>Inputs</h1>
    <p class="lead">Text input for collecting data.</p>
</div>

<div class="content pt-300">
    <div class="input-group">
        <label for="name">sample</label>
        <input class="text" type="text" name="test" placeholder="sample@email.com">
    </div>
    <br>
    <div class="input-group">
        <label class="error"for="name">sample</label>
        <input class="text input-error" type="text" name="test" value="error input">
        <div class="error mt-100"><i class="fa-regular fa-circle-info mr-200"></i>Error state</div>
    </div>
    <br>
    <div class="input-group">
        <label for="name">sample</label>
        <input class="disabled" type="text" name="test" placeholder="John Doe" value="john doe" disabled>
    </div>
    <br>
    <div class="input-group">
        <label for="name">sample</label>
        <textarea class="textarea" placeholder="type text here"></textarea>
    </div>
    <div class="input-group">
        <label for="name">sample</label>
        <textarea class="textarea disabled" placeholder="type text here"></textarea>
    </div>
    <button type="button" class="btn btn-primary mt-300"><i class="fa-duotone fa-user mr-200"></i>Primary Button</button>
</div>
