<div class="hero">
    <h1> Table</h1>
    <p class="lead">Table for viewing data.</p>
</div>

<div class="content pt-300">
    <div class="input-group">
        <span>Table header cell</span>
        <table class="table">
            <tr>
                <th class="table-header"><i class="fa-duotone fa-user mr-200"></i>Header Cell</th>
            </tr>
        </table>
        <div class="mt-300">
            <span >Table body cell</span>
        <table class="table">
            <tr>
                <td class="table-data"><i class="fa-duotone fa-user mr-200"></i>Data Cell </td>
            </tr>
        </table>
        </div>

        <div class="mt-300">
            <span >Table</span>
        <table class="table">
            <tr>
                <th class="table-header"><i class="fa-duotone fa-user mr-200"></i>Header Cell</th>
                <th class="table-header"><i class="fa-duotone fa-user mr-200"></i>Header Cell</th>
                <th class="table-header"><i class="fa-duotone fa-user mr-200"></i>Header Cell</th>
                <th class="table-header"><i class="fa-duotone fa-user mr-200"></i>Header Cell</th>
            </tr>
            <tr>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim risus volutpat tellus tempor</td>
                <td class="table-data">Data Cell </td>
            </tr>

            <tr>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim risus volutpat tellus tempor</td>
                <td class="table-data">Data Cell </td>               
            </tr>

            <tr>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Data Cell </td>
                <td class="table-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim risus volutpat tellus tempor</td>
                <td class="table-data">Data Cell </td>  
            </tr>
        </table>
        </div>  
    </div>
</div>


