<div class="hero">
    <h1> Text Inputs</h1>
    <p class="lead">Text input for collecting data.</p>
</div>

<div class="content pt-300">
    <div class="input-group">
        <label for="name">sample</label>
        <input class="text" type="text" name="test" placeholder="sample@email.com">
    </div>
    <br>
    <div class="input-group">
        <label class="error"for="name">sample</label>
        <input class="text input-error" type="text" name="test" value="error input">
        <div class="error mt-100"><i class="fa-regular fa-circle-info mr-100"></i>Error state</div>
    </div>
    <br>
    <div class="input-group">
        <label for="name">sample</label>
        <input class="disabled" type="text" name="test" placeholder="John Doe" value="john doe" disabled>
    </div>
</div>
