<div class="hero">
    <h1>Top navigation</h1>
    <p class="lead">A utility-first CSS library for facilitating front-end development with Leaf Design System.</p>
</div>

<div class="content pt-300">
    <div class="navbar">
        <div class="logo">
            <a href="#" class="nav-link"><strong> <i class="fa-duotone fa-leaf text-md" style="color: #007A5F;" ></i> Leaf Design System</strong></a>
        </div>
        <ul class="navbar-links">
            <a href="#" class="nav-link"><li id="navlink-home" class="navbar-link">Link 1</li></a>
            <a href="#" class="nav-link"><li id="navlink-brand" class="navbar-link">Link 2</li></a>
            <a href="#" class="nav-link"><li id="navlink-foundations" class="navbar-link">Link 3</li></a>
            <a href="#" class="nav-link"><li id="navlink-components" class="navbar-link">Link 4</li></a>
        </ul>
    </div>
</div>
