<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Leaf Design System</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/index.html"><strong>Leaf Design System</strong></a>
        </div>
        <ul class="navbar-links">
            <a href="/index.html"><li class="navbar-link">Home</li></a>
            <a href="/pages/Identity/identity.html"><li class="navbar-link">Identity</li></a>
            <a href="/pages/Foundations/foundations.html"><li class="navbar-link">Foundations</li></a>
            <a href="/pages/Components/components.html"><li class="navbar-link navbar-link-active">Components</li></a>
            <a href="/pages/Patterns/patterns.html"><li class="navbar-link">Design Patterns</li></a>
            <a href="/pages/Visualizations/visualizations.html"><li class="navbar-link">Data Visualizations</li></a>
            <a href="/pages/Resources/resources.html"><li class="navbar-link">Resources</li></a>
        </ul>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-lead">
                COMPONENTS
            </div>
            <ul class="sidebar-menu">
                <a href="#"><li class="sidebar-item">Buttons</li></a>
            </ul>
        </div>
        <div class="main">
            <h1>Content Area</h1>
        </div>
    </div>
</body>
</html>